@using System.Data
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <br />
    <br />
    <br />
    <div align="right">
        <img src="https://img.icons8.com/ios/30/4a90e2/shopping-cart.png" /> <b>(@ViewBag.cartnumber)</b>

        <a href="@Url.Action("Index", "Product")" class="btn btn-mini btn-info icon-edit bigger-07" style="float:left"><img src="https://img.icons8.com/flat_round/30/000000/back--v1.png" />Continue Shopping </a>
    </div>
    <table class="table table-striped">
        <tr>
            <th>S.No</th>
            <th>Product ID</th>
            <th>Product Name</th>
            <th>Price</th>
            <th>Operations</th>
        </tr>
        @if (Model != null)
        {
            foreach (DataRow row in Model.Rows)
            {
    <tr>
        <td>@row["sno"]</td>
        <td>@row["productid"]</td>
        <td>@row["productname"]</td>
        <td>@row["price"]</td>
        <td>
            @Html.ActionLink("Remove this", "RemoveProduct", "ShowCart", routeValues: new { sno = @row["sno"] }, htmlAttributes: null)
        </td>

        
    </tr>
            }
        }
        else
        {
            <td><p style=" color:red;"><b>Cart is Empty Yet !!</b></p></td>
        }
    </table>
    @{
        if (ViewBag.AllPrices != null)
        {
            <p style="float:right"><b>Total Price: @ViewBag.AllPrices</b></p>
        }
        else
        {
            <p style="float:right"><b>Total Price: 0</b></p>

        }
    }
</body>
</html>
